@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Playfair+Display:ital@0;1&family=Quicksand:wght@500&family=Roboto+Slab:wght@300&family=Work+Sans:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

#img-logo {
    width: auto;
    height: 39px;
    position: relative;
    left: 48%;
    top: 10%;
}

.sec-one {
    height: 208px;
    position: relative;
}

.first-h1 {
    color: #00b39b;
    font-size: 2em; 
    position: absolute;
    margin-top: 70px;
    margin-left: 10em; 
}

.main-div{
    display: flex;
    gap: 20px;
    width: fit-content;
    height: fit-content;
    position: relative;
    left: 12%;
}

.para-one{
    font-size: 1em;
    color: #747474;
    font-weight: bold;
}

.para-two{
    font-size: 1em;
    color: #747474;
    font-weight: bold;
}

.color-div-2 {
    display: flex;
    gap: 20px;
}

.black-div {
    background-color: #1b2734;
    border-radius: 9px;
    width: 310px;
    color: white;
}

.blue-div {
    background-color: #3d83df;
    border-radius: 9px;
    width: 310px;
    color: white;
}

.green-div {
    background-color: #00ccb1;
    border-radius: 9px;
    height: 345px;
    width: 310px;
    color: white;

}

.color-div-2 {
    width: fit-content;
    height: fit-content;
    position: relative;
    left: 14%;
    margin-top: 130px;
}

.test{
    height: 100px;
}

#doc-logo #pat-logo #cli-logo {
    width: 24px;
    height: auto;
}

.blue-containt {
    padding: 30px 35px;
}

.green-containt {
    padding: 30px 35px;
}

.black-containt {
    padding: 30px 35px;
}

.blue-para {
    font-size: 23px;
}

.green-para {
    font-size: 23px;
}

.black-para {
    font-size: 23px;
}
