@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Playfair+Display:ital@0;1&family=Quicksand:wght@500&family=Roboto+Slab:wght@300&family=Work+Sans:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

#img-logo {
    width: auto;
    height: 39px;
    position: relative;
    left: 48%;
    top: 10%;
}

.sec-one {
    height: 308px;
    position: relative;
}

.first-h1 {
    color: #00b39b;
    font-size: 2em; 
    position: absolute;
    margin-top: 70px;
    margin-left: 10em; 
}