.navigation {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-around;
}

#logo {
    width: auto;
    height: 31.5px;
    position: relative;
    right: 31px;
    bottom: 5px;
}

.nav-items {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-link{
    text-decoration: none;
    color: #ababab;
    font-size: 14px;
    font-weight: bold;
}

.nav-link:hover {
    color: #00B39B;
}

.nav-link-s {
    text-decoration: none;
    color: #00B39B;
    font-weight: bold;
    font-size: 14px;
}


    
